doctype html
html(lang='hr')
  head
    title Marko Belusic
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Marko Belušić')
    meta(name='keywords' content='evidencija putovanja')
    meta(name='application-name' content='Vlastita evidencija putovanja')
    meta(name='description' content='Vlastita evidencija putovanja')
    link(rel='stylesheet' type='text/css' href='/stylesheets/glavni.css')
  body.k_kutija
    header.k_header
      h1#naslov_stranice
        a(href='/') Aplikacija GEOTRIPS
      a(href='/')
        img#slika_logo(alt='Logo ove stranice' src='/images/trip_logo.jpg')
    nav.k_navigacija
      ul
        li
          a(href='prijava') Prijava
        li
          a(href='registracija') Registracija
    section#sadrzaj_pocetne.k_sadrzaj
        h2 Prijava
        form#prijava(name='prijava' method='post' action='/prijava')
            label(for='email_ulaz') Email: 
            input#email_ulaz(name='email_ulaz' type='email' required='required')
            br
            label(for='lozinka') Lozinka: 
            input#lozinka(name='lozinka' type='password' required='required')
            br
            input(name='submit' type='submit' value='Prijavi se')
    footer.k_footer
      address
        | Kontakt: Marko Belušić
      p © 2022 M. Belušić
